@model AllFriendsViewModel

<div class="content-page-box-area">
    <div class="page-banner-box bg-4">
        <h3 style="color:aqua">Friends</h3>
    </div>

    <div class="friends-inner-box-style d-flex justify-content-between align-items-center margin-top-25">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="friend-requests-tab" data-bs-toggle="tab" href="#friend-requests" role="tab" aria-controls="friend-requests">Friend Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="people-you-know-tab" data-bs-toggle="tab" href="#people-you-know" role="tab" aria-controls="people-you-know">People You Know</a>
            </li>
        </ul>

        <div class="friends-search-box">
            <form>
                <input type="text" class="input-search" placeholder="Search friends...">
                <button type="submit"><i class="ri-search-line"></i></button>
            </form>
        </div>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="friend-requests" role="tabpanel">
            
            <div class="load-more-posts-btn">
                <a href="#"><i class="flaticon-loading"></i> Load More</a>
            </div>
        </div>

        <div class="tab-pane fade" id="people-you-know" role="tabpanel">
            <div class="row justify-content-center">
               
            </div>

                <div id="users-list" class="row justify-content-center">
                </div>
        </div>
    </div>
</div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/assets/js/metismenu.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/images/user"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/site.js"></script>
