@* @if (Model.Chats != null)
{
    foreach (var item in Model.Chats)
    {
        var style = "";
        if (Model.CurrentReceiver != null && Model.CurrentReceiver == item.RecieverId)
        {
            style = "background-color:yellow";
        }

        <a href="/Home/GoChat/@item.RecieverId">
            <div style="display:flex;cursor:pointer;width:300px;border:2px solid springgreen;
margin-top:15px;padding:15px;border-radius:15px;@style">
                @if (item.Recevier != null)
                {
                    <img style="width:70px;height:70px;" alt="avatar" src="\images\@item.Recevier.Image" />
                    <section style="margin-left:20px;">
                        <h4>
                            @item.Recevier.UserName
                            @if (item.Recevier.IsOnline)
                            {
                                <h5 style="color:springgreen"><b>Online</b></h5>
                            }
                            else
                            {
                                <h5 style="color:red"><b>Not Available</b></h5>
                            }
                            <button type="button" class="btn btn-primary position-relative">
                                Unread
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    <!-- Display unread count here -->
                                    @item.UnreadCount
                                </span>
                            </button>
                        </h4>
                    </section>
                }
            </div>
        </a>
    }
}
 *@